    body {
        background-color: black;
    }
    
    .container {
        border: 2px solid white;
    }
    
    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    header h1 {
        color: red;
        font-size: 3em;
        padding: 50px 0 0 20%;
        text-shadow: -3px 3px 2px rgb(135, 107, 97);
        animation: titre ease 5s;
    }
    
    header h2 {
        color: red;
        font-size: 2em;
        padding: 20px 0 20px 20%;
        text-shadow: -3px 3px 2px rgb(187, 60, 14);
        animation: titre ease 5s;
    }
    
    @keyframes titre {
        0% {
            opacity: 0;
            transform: translateY(250px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .sum-line {
        border-top: 2px dotted white;
    }